<title>ChelCi | About</title>
{% include "base.html" %}
<style>
    section{
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:100px;
    background-color: rgba(0,0,0, 0.5);

    }
    .namecard{
    height: 500px;
    width: 600px;
    align-items: center;
}
section div p{
    font-family: serif;
    font-size: 24px;
    font-weight: normal;
    color:rgb(255,255,255);
}
section div h1{
    color:rgb(255,255,255);
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
}
</style>
<section>
    <div class="namecard">
        <center><h1>About Us</h1></center>
        <p>Inspired by the warmth and wonders of home-made cooking patterns, the menu is carved out to create a transporting dining experience. Perhaps, like never before. Try on both the sections: beverage and food, and unwind amid the dominant notes of a bistro-culture.</p>

           <p>Here, our two cents are even shared on healthy food and beverage: hence, the stories of our menu is lovingly laced with the nuances of herbs and medicinal plants.</p>

            <p>Welcome to Mystic Café to re-gain health, to re-vitalize the senses and to re-create a unique you</p>
    </div>
</section>