{% include "base.html" %}
<!--@app.route('/add_favourite/<int:post_id>', methods=['POST', 'GET'])-->
<!--def add_to_favor(post_id):-->
<!--    productt = db.get_or_404(ProductInfo, post_id)-->
<!--    new_favor = FavouriteInfo(-->
<!--        product_name=productt.product_name,-->
<!--        product_price=productt.product_price,-->
<!--        img_url=productt.img_url,-->
<!--        original_price=productt.original_price,-->
<!--        quantity=productt.quantity,-->
<!--        favour_user_id=current_user.id)-->
<!--    db.session.add(new_favor)-->
<!--    db.session.commit()-->
<!--    return redirect(url_for('product'))-->
<!--    # flash("the product added to the favourite")-->